body{
	background-image: url('../images/kindajean.png');

}

header{
	text-align: center;
	font-size: 22px;
	background: #bfb9b9;
	height: 60px;
	padding: 0px;
	margin:20px;
	
}
/* #rules{
	max-width: 100%;
	margin: 20px;
	padding: 20px;
	background: #bfb9b9;	
	text-align: center;
	font: 20px georgia;*/

}
/* #rules ul li{
 	text-align: center;/* or text-align: left;
	list-style:none;
	line-height: 2.5em;
	font-weight: 600;
	
 } */
 
 #randomNum,
 #score
 		{
 	width: 16%;
 	max-width: 100%;
 	height: 110px;
 	background: #bfb9b9;	
 	float: left;
 	text-align: center;
 	margin: 15px;
	padding: 20px;
	font-size: 20px;
	clear: right;

 }	
 #gems{
 	/* width: 60%; */
 	
 	max-width: 100%;
 	height: 100px;
 	background: #bfb9b9;	
 	float: left;
	margin: 20px;
	padding:25px;

 }
button{
	border:whitesmoke, 2px;
	background: black;
}
h1 {
	color: white;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1 rem;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#status {
	font-size: 2em;
	color: red;
}
